#turnwebPanel
{/** 入口panel */
    #mbeditPage
    {/* 編緝資訊頁 */
        #MBStoryEdit
        {/* 個人資訊 panel */
            #bankInfo
            {/*銀行資訊定位panel */
                width:100%;
                padding-top:20px;
                padding-bottom:20px;
                #gotoBankInfo
                {/* 申請身份話面show */
                    min-width:80px;text-align:center;position:relative;padding-left:5px;padding-right:5px;
                    width:3%;
                    background-color:#999;border-top-right-radius:5px;border-bottom-right-radius:5px;
                    font-size:12px;color:#FFF;text-align:left;
                    cursor:pointer;
                    img
                    {
                        width:13px;padding-right:5px;
                    }
                }

                #BankInfoDataPanel
                {/* 銀行資訊panel 定位 */
                    width:100%;
                    #mbBankPhoto
                    {/* 銀行資訊panel */
                        width:100%;
                        text-align:center;
                        padding-top:6px;
                        position:relative;
                        top:20px;
                        min-height:30px;
                        #MEtakePhoto
                        {/* 個人照 */
                            width:100%;
                            max-width:200px;
                            border:3px solid #EEE;
                            border-radius:6px;
                        }
                        #del
                        {/* 移除鈕 */
                            position:absolute;
                            right:19%;
                            top:-5px;
                            cursor:pointer;width:20px;padding-left:9px;
                        }
                    }
                    #BankInfoimgUpload
                    {/* 圖片上傳tool panel */
                        position:relative;
                        width:100%;

                        #takePotoPanel
                        {/* 相機icon 定位panel*/
                            position:relative;
                            margin-left:auto;
                            top:0px;
                            width:95%;padding-bottom:10px;
                            left:10px;
                            .ctrPhoto
                            {
                                position:relative;
                                top:5px;
                                width:15px;
                                cursor:pointer;
                            }
                            .ctrBt
                            {/* 相機icon*/
                                position:relative;
                                width:35px;
                                top:15px;
                                cursor:pointer;
                            }
                            .photoLength
                            {/* 預上傳圖片數量 label */
                                color:#AAA;
                                font-size:15px;
                            }

                            #photoAry
                            {/* 照片 顯示模式 鈕 pnael */
                                position:absolute;
                                top:20px;
                                right:5%;
                                .pTPchoose
                                {/* 照片牆已選模式 button */
                                    background-color:#FFF;
                                    color:#D94600;
                                    font-size:12px;
                                    border:1px solid #FF8800;
                                }
            
                                .pTPnormal
                                {/* 照片牆未選模式 button */
                                    background-color:#FFF;
                                    color:#AAA;
                                    font-size:12px;
                                }
                            }
                        }
                        .uploadPrivew
                        {/* 上傳圖片預覽 */
                            position:relative;
                            width:99%;
                            padding-top:20px;
                            padding-bottom:20px;
                            text-align:center;
                            border-left:2px solid #FFDDAA;
                            #CancelIconPanel
                            {/* 超出容量限制提示Icon */
                                position:absolute;
                                width:100%;
                                text-align:center;
                                top:50px;
                                img
                                {
                                    opacity:0.9;
                                    width:120px;
                                    cursor:pointer;
                                }
                            }
                            .upPhoto
                            {/* 預覽圖片 */
                                width:95%;
                                max-width:200px;
                                padding-bottom:20px;
                                cursor:pointer;
                            }
                            .row
                            {/* 內容 */
                                position:relative;
                                margin-left:auto;
                                margin-right:auto;
                                text-align:left;
                                width:90%;
                                max-width:200px;
                                padding-top:10px;
                                font-size:15px;
                                color:#AAA;
                                #upPhotoMark
                                {/* 開放upload 提示圖片 */
                                    position:absolute;width:30px;top:-20px;right:0px;cursor:pointer;
                                }
                                #delPanel
                                {/* 刪除鈕panel */
                                    position:absolute;
                                    width:100%;
                                    top:30px;
                                    text-align:right;
                                    z-index:180;
                                    img
                                    {
                                        cursor:pointer;
                                        width:25px;
                                    }
                                }
                            }

                            #uploadProgressBG
                            {/*上傳功能進度條 background*/
                                position:relative;
                                margin-left:auto;
                                margin-right:auto;
                                width:90%;
                                max-width:200px;
                                border-radius:20px;
                                height:5px;
                                background-color:#999;
                                #uploadPline
                                {
                                    border-radius:20px;
                                    background-color:#FF8800;
                                    height:5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}