<div id="newsliLabelccPanel">
    <div class="newsliDataListPanel" v-bind:style="'border-left:1px solid '+tagColor[((page.TagColor<=1)?1:2)]+';'">
        <component  v-bind:is="((page.bshow)?v[main$m.$m.main.showTemp(page.btp)]:'')" v-bind:page="page.bContent"></component>
        <!-- 前往 之前文章  -->
        <div style="width:100%;text-align:center;" v-show="page.bkey!='' && page.codekey!='' && page.TraceTpBF==1" >
            <!-- 前往 之前文章 鈕-->
            <img v-show="page.bContent == null" v-bind:src="main.pub.lib.src('tracenextprev.png')" class="newsnextprev"  v-on:click="main$m.$m.main.catchShowTemp(page,'b')" />
            <img v-show="page.bContent != null" v-bind:src="main.pub.lib.src('tracenextprev.png')" class="newsnextprev"  v-bind:style="((page.bshow)?'opacity:0.3;':'')" v-on:click="page.bshow=!page.bshow" />
        </div>
        <div id="dateliDoc">
            <div id="artli" v-show="page.art!=''" v-on:click="openMB(page.uid)">
                <!--顯示作者-->
                <img v-bind:src="main.pub.lib.src('mb.png')" style="width:30px;opacity:0.8;" />
                <span >{{page.art.substr(0,6)}}</span><span style="color:#DDD;">...</span>
            </div>
            <span  v-on:click="copyUrl('newsccliDoc',page)" style="font-size:12px;color:#AAA;cursor:pointer;user-select:all;" >
                <!--copy url-->
                <span style="opacity:0;" v-bind:id="'newsccliDoc'+page.key">{{window.location.protocol.split(':')[0]+"://"+window.location.host+"/u/4/"+page.key}}</span>
                <img v-bind:src="main.pub.lib.src('copyurl.png')" style="width:20px;padding-right:6px;position:realtive;top:3px;"/>
            </span>
            {{pb.reunixDate(page.publish)}}<img v-show="mainTemp.NormalLevel() || mainTemp.SysLevel() || mainTemp.editLevel() " v-bind:src="main.pub.lib.src(((ckTagBag(page))?'tagbag.png':'tagtouch.png'))" v-on:click="((!ckTagBag(page))?mainTemp.addTag(4,page.key,main.pub.catchLangNameNu(page.titleAry,((page.langAry.indexOf(main.pub.langNu)==-1)?page.langAry[0]:main.pub.langNu))):mainTemp.delTag(4,page.key))" id="tagAddLabel" /></div>
        <!--發佈日期/create日期-->
        <div id="docTitle"><div id="markpanel"></div><span v-on:click="page.show=!page.show" style="cursor:pointer;" v-html="main.pub.catchLangNameNu(page.titleAry,((page.langAry.indexOf(main.pub.langNu)==-1)?page.langAry[0]:main.pub.langNu)).replace(/</g,'&lt;').replace(/>/g,'&gt;').replace(/\n/g,'<br/>')"></span></div>
        <div style="position:realtive;margin-left:auto;width:95%;color:#AAA;font-weight:bold;font-size:15px;cursor:pointer;" v-on:click="page.show=!page.show" v-show="!page.show">...</div>
        <div style="width:100%;" v-show="page.show">
            <div class="newsContent" v-bind:id="'docConnectioncc'+page.key+nu1" v-for="(val1,nu1) in getContent(page.docAry)" v-show="!page.loadDoc[main.pub.lang] && nu1==0 || page.loadDoc[main.pub.lang]">
                <div id="textContent">
                    <!--段落內容-->
                    <div id="title" v-show="val1.content[main.pub.lang].title!='' &&  page.langAry.indexOf(main.pub.langNu)>-1 && (nu1 ==0 ||  page.loadDoc[main.pub.lang] )" >
                        <span v-html="((val1.content[main.pub.lang].title!='')?val1.content[main.pub.lang].title:'...').replace(/</g,'&lt;').replace(/>/g,'&gt;').replace(/\n/g,'<br/>')"></span>
                    </div>
                    <div style="position:relative;margin-left:auto;margin-right:auto;width:100%;padding-bottom:6px;" v-if="val1.ybe !='' && val1.ybe!=null">
                        <!-- video -->
                        <iframe style="width:100%;height:40vh;" v-bind:src="'https://www.youtube.com/embed/'+val1.ybe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div id="content" v-show="page.loadDoc[main.pub.lang]">
                        <span v-show="page.langAry.indexOf(main.pub.langNu)>-1" style="font-size:22px;font-weight:bold;color:#000;">{{((page.loadDoc[main.pub.lang])?((val1.content[main.pub.lang].content!='')?val1.content[main.pub.lang].content.substring(0,1):''):"")}}</span>
                        <span v-show="page.langAry.indexOf(main.pub.langNu)>-1" v-html="((page.loadDoc[main.pub.lang])?((val1.content[main.pub.lang].content!='')?val1.content[main.pub.lang].content.substring(1):''):'').replace(/</g,'&lt;').replace(/>/g,'&gt;').replace(/\n/g,'<br/>')"></span>
                        <span v-show="page.langAry.indexOf(main.pub.langNu)==-1" style="color:#BBB;">
                            <!--無翻譯提示-->
                            {{main$m.getLangcc('error').nottranslate}}
                            <span v-for="(val2,nu2) in main.pub.langAry" class="langKey" v-show="main.pub.lang==val2.val">
                                ({{val2.key}})
                            </span>!
                            <div style="width:100%;padding-top:10px;color:#408080">
                                {{main$m.getLangcc('error').onlysupport}}:
                                <span v-for="(val2,nu2) in main.pub.langAry" class="langKey" v-show="page.langAry.indexOf(nu2)>-1" style="color:#5CADAD;font-size:16px;font-weight:bold;cursor:pointer;text-decoration:underline;" v-on:click="main.pub.lang=val2.val;main.pub.langFun();">
                                    {{val2.key}}
                                </span>
                            </div>
                        </span>
                    </div>
                    <div id="photoPanel" v-show="page.loadDoc[main.pub.lang]" v-bind:style="((val1.WallPaper)?'width:90%;':'')">
                        <div v-bind:class="((!val1.WallPaper)?'contentImg':'contentImgWP')" v-show="val1.objImg.src(val2.path)!=null" v-for="(val2,nu2) in val1.imgAry">
                            <!--文章圖片-->
                            <div id="container">
                                <img v-bind:src="val1.objImg.src(val2.path)" v-bind:id="page.val+page.key+'_'+val1.path+'_'+val2.path.split('.')[0]" class="photo" v-on:click="openImgView(val1,nu2)" />
                            </div>
                            <div class="Photodescription"  v-bind:id="'d'+page.val+page.key+'_'+val1.path+'_'+val2.path.split('.')[0]"  v-show="main.pub.catchLangNameNu(val2.titleAry,((page.langAry.indexOf(main.pub.langNu)==-1)?page.langAry[0]:main.pub.langNu))!='(null)'">
                                <!--照片描述-->
                                <span v-html="((!val1.WallPaper)?main.pub.catchLangNameNu(val2.titleAry,((page.langAry.indexOf(main.pub.langNu)==-1)?page.langAry[0]:main.pub.langNu)):main.pub.catchLangNameNu(val2.titleAry,((page.langAry.indexOf(main.pub.langNu)==-1)?page.langAry[0]:main.pub.langNu)).substring(0,9)+'...').replace(/</g,'&lt;').replace(/>/g,'&gt;').replace(/\n/g,'<br/>')"></span>
                            </div>
                        </div>
                        <div class="clear">&nbsp;</div> <!--float 阻隔-->
                    </div>
                </div>
            </div>
        </div>
        <div class="markTitle" v-show="page.readPathAry.length>0 ">{{main$m.getLangcc('input').extendlabel}}</div>
        <div class="readPathContent" v-for="(val1,nu1) in page.readPathAry">
            <div class="labelPanel">
                #<span v-on:click="main$m.$m.main.getLabel(val1,'idliLabelcc'+nu1,'liLabelTagcc'+page.val+page.key+nu1,1)" v-show="val1.content==null" id="label">{{main.pub.catchLangNameNu(val1.nameAry,((page.langAry.indexOf(main.pub.langNu)==-1)?page.langAry[0]:main.pub.langNu))}}</span>
                <span v-show="val1.content!=null" v-on:click="val1.show=!val1.show;" v-bind:style="((val1.show)?'color:#ACD6FF;font-size:12px;':'')" id="label">{{main.pub.catchLangNameNu(val1.nameAry,((page.langAry.indexOf(main.pub.langNu)==-1)?page.langAry[0]:main.pub.langNu))}}<img v-bind:src="main.pub.lib.src('lock.png')" v-show="val1.lock" class="LabelTagLock" /></span>
            </div>
            <div style="position:relative;width:100%;" v-show="val1.show"><img v-bind:src="main.pub.lib.src('tag.png')" v-on:click="val1.show=!val1.show;" v-bind:style="'opacity:'+(page.TagColor/10+0.2)+';'" v-bind:id="'liLabelTagcc'+page.val+page.key+nu1" class="tagLabel" /><component v-bind:is="((val1.show || val1.content!=null)?v[main$m.$m.main.showTemp(val1.tp)]:'')" v-bind:page="val1.content"></component></div><!-- 標籤文章 -->
        </div>
        <div class="markTitle" v-show="page.mdocAry.length>0">{{main$m.getLangcc('input').eventlabel}}</div>
        <div class="eventContent" v-for="(val1,nu1) in page.mdocAry"><!--其它標籤-->
            <div class="labelPanel">
                #<span v-on:click="main$m.$m.main.getLabel(val1,'ideventLabelcc'+nu1,'lieventLabelTagcc'+page.val+page.key+nu1,1)" v-show="val1.content==null" id="label">{{main.pub.catchLangNameNu(val1.nameAry,((page.langAry.indexOf(main.pub.langNu)==-1)?page.langAry[0]:main.pub.langNu))}}</span>
                <span v-show="val1.content!=null" v-on:click="val1.show=!val1.show;" v-bind:style="((val1.show)?'color:#ACD6FF;font-size:12px;':'')" id="label">{{main.pub.catchLangNameNu(val1.nameAry,((page.langAry.indexOf(main.pub.langNu)==-1)?page.langAry[0]:main.pub.langNu))}}<img v-bind:src="main.pub.lib.src('lock.png')" v-show="val1.lock" class="LabelTagLock" /></span>
            </div>
            <div style="position:relative;width:100%;" v-show="val1.show"><img v-bind:src="main.pub.lib.src('tag.png')" v-on:click="val1.show=!val1.show;" v-bind:style="'opacity:'+(page.TagColor/10+0.2)+';'" v-bind:id="'lieventLabelTagcc'+page.val+page.key+nu1" class="tagLabel" /><component v-bind:is="((val1.show || val1.content!=null )?v[main$m.$m.main.showTemp(val1.tp)]:'')" v-bind:page="val1.content"></component></div><!-- 標籤文章 -->
        </div>
        <div style="width:100%;text-align:center;padding-top:20px;" v-show="page.fkey!='' && page.fkey.indexOf('c_')==-1 && page.TraceTpBF==2" >
            <!-- 前往 追蹤文章 鈕-->
            <img v-show="page.afContent == null" v-bind:src="main.pub.lib.src('tracenextprev.png')" class="newsnextprev" style="transform:rotate(180deg);" v-on:click="main$m.$m.main.catchShowTemp(page,'af')" />
            <img v-show="page.afContent != null" v-bind:src="main.pub.lib.src('tracenextprev.png')" class="newsnextprev" v-bind:style="'transform:rotate(180deg);'+((page.afshow)?'opacity:0.3;':'')" v-on:click="page.afshow = !page.afshow" />
        </div>
        <component v-bind:is="((page.afshow)?v[main$m.$m.main.showTemp(page.ftp)]:'')" v-bind:page="page.afContent" ></component>
    </div>
    <component v-bind:is="((openImgPreview)?v.newsliIMGvue:'')"></component><!--圖片大圖預覽-->
    <component v-bind:is="((openMBPreview)?v.mbPreviewVue:'')"></component>
</div>