
#Management_main
{/* Management project */
    #productSet
    {/* 商品設定 */
        #sfPanel
        {/* 運費設定 */
            width:100%;
            #searchTool
            {/* 搜尋功能 panel*/
                position:relative;width:100%;text-align:center;padding-top:20px;
                div{
                    width:100%;
                    text-align:center;
                    padding-top:9px;
                    padding-bottom:10px;
                }
            }

            .sfMG_bt{
                background-color:#555;
                color:#FFF;
                font-size:12px;
                width:70px;
                box-shadow:2px 2px 5px #888888;
            }
        }

        #sfDataPanel
        {/* 設定運費資料面 */
            position:relative;
            padding-top:20px;
            padding-bottom:20px;
            width:100%;
            max-width:400px;
            .datarow{
                width:100%;
                padding-top:5px;
                padding-bottom:10px;
                border-bottom:1px solid #EEE;
                table{
                    width:100%;
                    color:#AAA;
                    font-size:12px;
                    th
                    {
                        width:100px;
                        text-align:right;
                    }
                    .input
                    {
                        width:200px;
                        padding-left:6px;
                        input
                        {
                            width:80px;
                        }
                        img
                        {
                            width:15px;
                            position:relative;
                            top:3px;
                        }
                    }
                }
            }
        }
    }
}