#Management_main
{/* Management project */
    #MGActivity
    {/* 伴空間系統 */
        #takeLabelPanel
            {/* 新增標籤工具 panel */
                position:fixed;
                z-index:195;
                width:100%;
                top:0px;
                left:0px;

                #bg
                {/* 遮罩背景*/
                    background-color:#000;
                    position:absolute;
                    left:0px;
                    top:0px;
                    opacity:0.5;
                    height:2000px;
                    width:100%;
                }


                #labelChoosePanel
                {/* 工具內容 定位panel */
                    position:relative;
                    top:50px;
                    margin-left:auto;
                    margin-right:auto;
                    width:95%;
                    max-width:400px;
                    background-color:#FFF;
                    border-radius:10px;
                    border:3px solid #EEE;

                    #headtool
                    {/* 視窗 title panel */
                        position:relative;
                        width:98%;
                        margin-left:auto;
                        margin-right:auto;
                        border-bottom:1px solid #EEE;
                        padding-bottom:30px;
                        
                        #delPanl
                        {/* 關閉視窗panel*/
                            position:absolute;
                            right:-15px;
                            top:-15px;
                            width:40px;
                            cursor:pointer;
                            img
                            {/* 關閉視窗鈕 */
                                width:100%;
                                
                            }
                        }
                    }
                    #content
                    {/* 內容物 框架 */
                        position:relative;
                        width:100%;
                        padding-top:10px;
                        padding-bottom:10px;
                        #row
                        {
                            position:relative;
                            width:100%;
                            height:300px;
                            padding-top:20px;
                            overflow-y:auto;
                            .bagData
                            {
                                position:relative;
                                width:60%;
                                border-radius:6px;
                                margin-left:auto;
                                margin-right:auto;
                                padding-bottom:30px;
                                #bagContent
                                {
                                    width:100%;
                                    position:realtive;
                                    padding-bottom:10px;
                                    #imgTag
                                    {/* 標籤示意 panel */
                                        width:100%;
                                        position:relative;
                                        padding-top:9px;
                                        padding-bottom:9px;
                                        text-align:center;
                                        img
                                        {
                                            position:relative;
                                            width:15%;
                                            cursor:pointer;
                                        }
                                    }
                                    #nu
                                    {/* 標籤號碼 */
                                        position:absolute;
                                        top:20px;
                                        width:30%;
                                        left:18%;
                                        font-size:12px;
                                        font-weight:bold;
                                        color:#FFF;
                                        opacity:0.6;
                                        #char
                                        {/*字*/
                                            position:relative;
                                            margin-left:auto;
                                            margin-right:auto;
                                            width:5%;
                                            background-color:#000;
                                            border-radius:66px;
                                            padding-left:3px;
                                            padding-right:3px;
                                            min-width:15px;
                                            text-align:center;
                                        }
                                    }

                                    #namePanel
                                    {/* 標籤命名 */
                                        color:#AAA;
                                        font-size:13px;
                                        font-weight:bold;
                                        width:95%;
                                        position:relative;
                                        margin-left:auto;
                                        margin-right:auto;
                                        text-align:center;
                                        overflow : hidden;
                                        text-overflow : ellipsis;
                                        white-space : nowrap;
                                    }
                                }
                            }
                        }
                    }
                }
            }
    }
}