#turnwebPanel
{/** 入口panel */
    #indexPage
    {/* 入口首頁 */
        #serWebPanel
        {/* 搜尋結果列 */
            position:relative;width:95%;padding-top:50px;
            padding-bottom:50px;
            max-width:900px;
            margin-left:auto;
            margin-right:auto;
            .serTitle
            {/* 搜尋標題title */
                width:100%;padding-bottom:5px;color:#AAA;font-size:15px;font-weight:bold;
                padding-top:10px;
            }
            .docSerPanel
            {/* 故事、商品文宣 */
                position:relative;
                width:100%;
                padding-top:5px;
                padding-bottom:5px;
                border-bottom:1px solid #EEE;
                #SERtagAddLabel
                {/* tag 標籤 */
                    width:20px;
                    position:relative;
                    top:3px;
                    padding:10px;
                    cursor:pointer;
                }
                #nu
                {/* 流水號 */
                    color:#886600;font-weight:bold;font-size:12px;
                }
                .docTitle
                {
                    /* 標題 */
                    font-size:12px;font-weight:bold;color:#0000E3;text-decoration:underline;
                    cursor:pointer;
                }
                #docContent
                {/* 內肉 */
                    position:relative;
                    padding-top:2px;
                    width:100%;
                    font-size:12px;
                    color:#CCC;
                    text-align:left;
                    .photo
                    {/* 照片 */
                        position:absolute;
                        right:30%;
                        top:-40px;
                        cursor:pointer;
                        img
                        {
                            padding:3px;
                            border:1px solid #EEE;
                            height:60px;
                        }
                    }
                }
                .tagLabel
                {
                    width:30px;
                    cursor:pointer;
                }
            }

            .newsSerPanel
            {/* 新聞搜尋結果 */
                position:relative;
                width:100%;
                padding-top:5px;
                padding-bottom:5px;
                border-bottom:1px solid #EEE;
                #nu
                {/* 流水號 */
                    color:#886600;font-weight:bold;font-size:12px;
                }
                .newsTitle
                {/* 標題 */
                    font-size:12px;font-weight:bold;color:#0000E3;text-decoration:underline;
                    cursor:pointer;
                }
                #SERtagAddLabel
                {/* tag 標籤 */
                    width:30px;
                    position:relative;
                    top:3px;
                    padding:10px;
                    cursor:pointer;

                }

                #NewsDate
                {/*發佈日期*/
                    position:relative;
                    width:100%;
                    font-size:12px;
                    color:#AAA;
                    text-align:right;
                }
        
                #newsContent{
                    position:relative;
                    padding-top:2px;
                    width:100%;
                    font-size:12px;
                    color:#CCC;
                    text-align:left;
                    .label
                    {
                        font-size:12px;
                        color:#AAA;
                    }
                }
                .tagLabel
                {
                    width:30px;
                    cursor:pointer;
                }
            }

            .dataList
            {/* 搜尋資料data list */
                width:100%;padding-bottom:15px;
                .title
                {/* browser title panel */
                    font-size:12px;color:#AAA;
                    img
                    {/* browser icon */
                        width:50px;
                    }
                    #myWeb
                    {/* 站內資料 mark label */
                        color:#FF8800;
                    }
                    #hrefBrowser
                    {/* 搜尋資料 browser 入口網站網址 */
                        font-size:12px;font-weight:bold;color:#5599FF;text-decoration:none;
                    }
                }

                #hrefEmpty
                {/* 搜尋資料網址 無資料mark */
                    width:100%;text-align:left;font-size:12px;color:#AAA;padding-top:20px;
                }

                .hrefDetail
                {/* 搜尋資料網址 定位panle */
                    width:100%;padding-bottom:5px;
                    #nu
                    {/* 流水號 */
                        color:#886600;font-weight:bold;font-size:12px;
                    }
                    #href
                    {/* 搜尋資料 browser 入口網站網址 */
                        font-size:12px;font-weight:bold;
                    }
                    #description
                    {/* 內容描述 */
                        width:100%;font-size:12px;color:#AAA;padding-top:5px;
                    }
                    #splitLine
                    {/* 分隔線 */
                        width:100%;height:5px;border-bottom:1px solid #EEE;
                    }
                    #SERtagAddLabel
                    {/* tag 標籤 */
                        width:30px;
                        position:relative;
                        top:3px;
                        padding:10px;
                        cursor:pointer;
                    }
                }

                #browserSplitLine
                {/* browser 分隔線 */
                    width:100%;height:5px;border-bottom:2px solid #AAA;
                }
            }
        }
    }
}
