#pcPanel
{/* 商城框架 */

    #payPanel
    {/* 結帳頁panel */
         width:95%;position:relative;user-select: none;
         margin-left:auto;margin-right:auto;
         #payStep
         {/* 結帳步驟 head panel */
            position:fixed;width:100%;text-align:center;background-color:#FFF;box-shadow:2px 2px 5px #888888;padding:5px;z-index:189;
            font-size:15px;left:0px;
            .pc_p_payStep, .pc_p_payStepChoose
            {
                padding:6px;
                img
                {
                    width:10px;transform:rotate(-90deg);position:relative;
                    top:-1px;padding-right:3px;
                }
            }
           .pc_p_payStep
           {
                color:#AAA;
           }
   
           .pc_p_payStepChoose
           {
                   color:#FF8800;
                   font-weight:bold;
                   border-bottom-right-radius:10px;
                   border-top-right-radius:10px;
           }
         }

         #step1Panel,#step2Panel,#step3Panel
         {/* 結帳step panel 定位 */
             width:100%;max-width:500px;position:relative;margin-left:auto;margin-right:auto;padding-top:85px;padding-bottom:45px;
             .step
             {/* step panel */
                 width:100%;
                 text-align:center;
                 padding-top:60px;
                .pc_p_PayBtNext
                {/* step panel 下step button */
                    background-color:#FF8800;
                    font-size:15px;
                    border:1px solid #FF3300;
                    color:#FFF;
                    border-bottom-right-radius:10px;
                    border-top-right-radius:10px;
                    box-shadow:2px 2px 5px #888888;
                }
        
                .pc_p_PayBtPre
                {/* step panel 上step button */
                    background-color:#FF8800;
                    font-size:15px;
                    border:1px solid #FF3300;
                    color:#FFF;
                    border-bottom-left-radius:10px;
                    border-top-left-radius:10px;
                    box-shadow:2px 2px 5px #888888;
                }
            }
         }

         #step1Panel
         {/* 商品確認 step1 */
            .pccsRow
            {/* 資料列 */
                padding-top:10px;padding-bottom:10px;position:relative;width:100%;
                border-bottom:1px solid #EEE;font-weight:bold;color:#555;
                #pccsPhoto
                {/* 照片 */
                    width:50px;height:35px;text-align:center;padding:3px;overflow:hidden;
                    border:1px solid #EEE;
                    border-radius:10px;opacity:0.7;
                    img
                    {
                        width:40px;
                    }
                }
                #pccsTitle
                {/* 商品名稱 + 數量*/
                    left:80px;top:20px;padding-left:20px;font-size:20px;color:#AAA;
                    #pccsCount
                    {/* 商品數量 */
                        width:50%;
                        position:relative;
                        margin-left:auto;
                        margin-right:auto;
                        padding-top:9px;
                        color:#AAA;font-size:18px;
                        position:relative;
                        text-align:center;
                        div
                        {/* 增減按鈕 */
                            float:right;
                            width:30px;
                            padding-top:2px;
                            padding-bottom:2px;
                            color:#FFF;
                            background-color:#999;
                            border-radius:60px;
                            text-align:center;
                            font-size:15px;
                            font-weight:bold;
                            cursor:pointer;
                        }
                    }
                }
                #discountPanel
                {/* 折panel */
                    padding-left:44%;font-size:12px;padding-bottom:5px;
                    .label
                    {
                        color:#AAA;
                    }
                    #cash
                    {/* 金額label */
                        color:#007500;font-weight:bold;
                    }
                }
                #sumPanel
                {/* 單品 計算實際金額 */
                    padding-left:70%;padding-bottom:5px;

                    #title
                    {
                        color:#AAA;
                    }

                    #val
                    {/* sum cash label*/
                        color:#BB5500;font-size:12px;
                    }
                }
            }
        }
        #step2Panel
        {/* 寄件確認step2 */
            #nowAdr
            {/*現場取貨*/
                text-align:center;width:200px;cursor:pointer;color:#AAA;
                position:relative;
                margin-left:auto;
                margin-right:auto;
                padding-bottom:6px;
                border-bottom:1px solid #AAA;
                label
                {
                    cursor:pointer;
                    img
                    {
                        position:relative;
                        top:5px;
                        height:20px;
                        padding:3px;
                    }
                }
            }

            #adrPanel
            {/* 寄件地址設定 */
                max-width:500px;
                width:100%;
                font-size:18px;
                color:#333;
                position:relative;
                margin-left:auto;
                margin-right:auto;
                padding-top:60px;
                th
                {
                    text-align:right;
                    width:150px;
                    padding-right:12px;
                }
                td,th
                {
                    padding-bottom:20px;
                }
                img
                {
                    width:15px;
                }
                input[type='text']
                {
                    font-size:18px;
                    width:150px;
                }
            }
        }
        #step3Panel
        {/* 結帳step1 */

            #event
            {/* 其它備註 */
                width:100%;
                position:relative;
                text-align:center;
                padding-top:20px;
                padding-bottom:10px;
                border-bottom:1px solid #EEE;
                color:#AAA;
                textarea
                {
                    width:400px;
                    height:80px;
                }
            }

            #TotalPanel
            {/* 已選商品 總額計算 panel */
                padding-top:10px;width:100%;
                text-align:center;
                #title
                {
                    color:#AAA;font-size:12px;
                }

                #val
                {/* total cash label*/
                    color:#FF8800;font-weight:bold;
                    opacity:0.5;
                }
                #payBtPanel
                {
                    width:100%;
                    padding-top:30px;
                    padding-bottom:60px;
                    text-align:center;
                    span
                    {
                        cursor:pointer;
                        padding:3px;
                        background-color:#BB5500;
                        color:#FFF;
                        font-size:15px;
                        border-radius:88px;
                        box-shadow:2px 2px 5px #888888;
                        img
                        {
                            width:13px;
                            position:relative;
                            top:3px;
                            padding:3px;
                        }
                    }
                }
            }
        }
    }
}
