#newsPJPanel
{/* 新聞專案*/
    #newsMBMGPanel
    {/*新聞稿 寫手 框架 panel*/
        width:100%;position:relative;

        #toolMainHead
        {/* 搜尋文章工具框架 */
            width:100%;
            height:120px;
        }
    }
}