<div id="psylPay" v-bind:style="((bank=='')?'border:1px solid #FF8800;border-radius:8px;':'')" v-if="load">
    <div id="chooseTitel">{{lang.get("paychoose")}}</div>
    <span><label for="psylLine">
        <input type="radio" value="0" id="psylLine" v-model="bank" />
        <img v-bind:src="bankImg(img,0)" style="height:50px;" />
        <span style="font-size:12px;color:#AAA;padding-left:0px;">TW/台灣</span>
        </label>
    </span>
    <span v-show="!mainTemp.PayLevel()">
        <br/>
        <span><label for="psylapp">
            <input type="radio" value="2" id="psylapp" v-model="bank" />
            <img v-bind:src="bankImg(img,2)" style="top:9px;padding-right:9px;" /><span style="font-size:12px;color:#AAA;padding-left:0px;">TPoint cash</span></label>
        </span>
    </span>
    <br/>
    <span>
        <label for="psyltsb">
            <input type="radio" value="3" id="bankImg(img,3)" v-model="bank" id="psyltsb" /><img v-bind:src="img.src('tsb.png')" style="height:35px;top:9px;padding-left:6px;" />
            <span style="font-size:12px;color:#AAA;padding-left:6px;">{{lang.get("ct")}}</span>
        </label>
    </span>
</div>